*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  margin-top: 128px; /*133*/
  padding: 0 30px;
}

.content {
  display: flex;
  column-gap: 32px;
  align-items: end;
}

.result {
  min-width: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  column-gap: 10px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  min-width: 711px;
  min-height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  max-height: 80vh;
  margin: 0 auto;
  object-position: center;
  padding: 0;
}

.search-form {
  position: relative;
  display: flex;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__textfield {
  min-width: 225px;
  background-color: #1b1919;
  border: none;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  appearance: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  width: fit-content;
  column-gap: 15px;
}

.search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  margin-right: 5px;
  
}

.button {
  background-color: #1b1919;
  color: #fff;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  height: 32px;
  cursor: pointer;
}

.search-form__submit-button {
  position: absolute;
  width: 194px;
  padding-top: 3px;
  bottom: 0;
  right: 0;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.title {
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: scroll;
  row-gap: 30px;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  width: 100%;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  object-fit: cover;
}

.more-button {
  width: 100%;
}